<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>List Customers</title>

    <!-- reference our style sheet -->
    <link type="text/css"
          rel="stylesheet"
          href="/css/style.css"/>
</head>

<body>

    <div id="wrapper">
        <div id="header">
            <h2>CRM - Customer Relationship Manager</h2>
        </div>
    </div>

    <div id="container">
        <div id="content">

            <!-- put new button: Add Customer -->
            <input type="button" value="Add Customer"
                   onclick="window.location.href='showFormForAdd'; return false;"
                   class="add-button"
            />

            <!-- add our html table here -->
            <table>
                <tbody>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Action 1</th>
                        <th>Action 2</th>
                    </tr>
                    <tr th:each="customer : ${customerList}">
                        <td th:text="${customer.getFirstName()}"/>
                        <td th:text="${customer.getLastName()}"/>
                        <td th:text="${customer.getEmail()}"/>
                        <td>
                            <a th:href="@{'/customer/showFormForUpdate/' + ${customer.getId()}}">Edit</a>
                        </td>
                        <td>
                            <a th:href="@{'/customer/delete/' + ${customer.getId()}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>